<!ejs>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chefs</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <%- include('navbar') %>

  <div class="card-container">
    <% for (const chef of chefs) { %>
      <div class="card" onclick="window.location.href='/api/chefs/<%- chef._id %>'">
        <div class="card-title"><%= chef.name %></div>
        <img class="card-image" src="<%= chef.chefImage %>" alt="Card Image" width="200" height="200">
        <p><%= chef.bio %></p>
      </div>
    <% } %>
  </div>
</body>

</ejs>
