<!ejs>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('navbar') %>

    <div class="content-container">
        <% console.log('recipeData in EJS template:', recipeData); %>
        <img src="https://placehold.co/600" alt="Recipe Image">
        <h1><%= recipeData.title %></h1>
        <h2>Description</h2>
        <p><%= recipeData.description %></p>

        <h2>Ingredients</h2>
        <% if (recipeData.ingredients) { %>
        <ul>
            <% for (const ingredient of recipeData.ingredients) { %>
                <li><%= ingredient %></li>
            <% } %>
        </ul>
        <% } %>

        <h2>Instructions</h2>
        <% if (recipeData.instructions) { %>
        <ol>
            <% for (const step of recipeData.instructions) { %>
                <li><%= step %></li>
            <% } %>
        </ol>
        <% } %>

        <h2>Chef</h2>
        <p><a href="/api/chefs/<%- recipeData.chefId %>"><%= recipeData.chef %></a></p>
    </div>

</body>

</ejs>
