<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <%- include('navbar') %>

  <div class="card-container">
    <% for (const recipe of recipes) { %>
      <div class="card" onclick="window.location.href='/api/recipes/<%- recipe._id %>'">
        <div class="card-title"><%= recipe.title %></div>
        <img class="card-image" src="<%= recipe.foodImage %>" alt="Card Image" width="200" height="200">
        <p><%= recipe.description %></p>
      </div>
    <% } %>
  </div>
</body>

</html>
