<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update Chef</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <%- include('navbar') %>

  <div class="content-container">
    <h1>Chef Form</h1>
    <form id="api/chefs/<%= chef._id %>" action="/api/chefs/<%= chef._id %>" method="POST" enctype="multipart/form-data" target="_self">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= chef.name %>" >
      </div>
      <div class="form-group">
        <label for="description">Bio:</label>
        <textarea id="description" name="description" rows="4"><%= chef.description %></textarea>
      </div>
      <div class="form-group">
        <label for="chefImage">Picture from the Chef:</label>
        <input type="file" id="chefImage" name="chefImage">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>